audio(src="./images/audio/vv.mp3")#myAudio

.scripka.scripka1
    img(src="./images/scr/1.png", alt="")
    .scripkatext Скрипка помолчи чуць
.scripka.scripka2
    img(src="./images/scr/2.png", alt="")
    .scripkatext Скрипка дай праздника) 