.progress
    .progress__wrapper
        .progress__inner 
            span.tw 20%
            span.th 35%
            span.pp 50%
            span.shp 70%
            span.w 80%
            span.wp 85%
    .progress__fotoblock 
        div   
            //- img(src="./images/progres/p_1.png", alt="")
        div =>
        div
        //-     img(src="./images/progres/p_2.png", alt="")
        div =>
        div
        //-     img(src="./images/progres/p_3.png", alt="")