.cuba{
    background: linear-gradient(320deg, #FFEB3B 5%, #ffeb3b0f 100%);
    height: 100vh;
    position: relative;
    padding: 20px 0;

    .palma1{
        position: fixed;
        bottom: -25px;
        right: 0;
    }

    .palma2{
        position: fixed;
        bottom: -25px;
        width: 20%;
        left: 0;
    }

    .custom_text{
        font-size: 22px;
    }

    .lib{
        display: flex;
        justify-content: center;
    }

    .inp_danet{
        width: 220px;
        height: 45px;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;
        font-size: 20px;
        display: none;
    }

    .go_danet{
        display: none;
        margin-left: 110px;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px  30px;
        border: 1px solid #4D8FAC;  
        outline: none;    
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.6);     
        &:hover{
            cursor: pointer;
            box-shadow: none;
        }
        &:active{
            box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.6); 
        }
    }
    
}




    
.privet{
    text-align: center;
    z-index: 100;
    position: relative;

    &__title{
        font-size: 22px;
    }

    &__stich{
        display: flex;
        font-size: 20px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .div{
        &:first-child{
            margin-right: 50px;
        }
    }

    .progress__inner{
        width: 80%;
    }

    .progress__inner .tw, .progress__inner .th, .progress__inner .pp, .progress__inner .shp, .progress__inner .w{
        display: none;
    }

    .progress__fotoblock div:nth-child(1){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(2){
        display: flex;
    }

    .progress__fotoblock div:nth-child(3){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(4){
        display: flex;
    }

    .progress__fotoblock div:nth-child(5){
        display: block;
        width: 60px;
    }

    &__img{
        padding-top: 20px;
        img{
            width: 350px;
            border-radius: 10px;
        }
    }

    &__block_ib{
        display: flex;
        justify-content: center;
    }
}



.concurs1{
    display: none;
    text-align: center;

    &__title{
        font-size: 22px;
    }

    &__blockfoto{
        display: flex;
        justify-content: space-around;
        padding: 40px 100px 20px 100px;
        margin-bottom: 30px;
    }

    &__itemfoto{
        img{
            width: 180px;
            border-radius: 10px;
        }
    }

    .block_btns_inputs{
        flex-direction: column;

        .div_inp{
            margin-bottom: 20px;
        }

        .common_btn{
            margin: 0;
        }
    }

    &__fig{
        padding-top: 20px;
        img{
            width: 100%;
        }
    }

    &__libre{
        display: none;
    }

}


.tanci{
    display: none;
    text-align: center;

    &__title{
        font-size: 22px;
    }

    .common_btn{
        margin: 0;
    }


    &__itemvid{
        padding: 40px 0;
    }



    &__blockvid2, &__blockvid3{
        display: none;
    }

    .sun{
        position: fixed;
        top: -165px;
        left: -266px;
    }


    .common_btn{
        display: none;
    }

}



.predfinal{
    display: none;
    text-align: center;
    position: relative;

    &__title{
        font-size: 22px;
    }

    .sun{
        position: fixed;
        top: -165px;
        left: -266px;
    }

    .tw, .th, .pp, .shp, .w{
        display: none;
    }

    .progress__inner{
        width: 85%;
    }

    .progress__fotoblock div:nth-child(1){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(2){
        display: flex;
    }

    .progress__fotoblock div:nth-child(3){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(4){
        display: flex;
    }

    .progress__fotoblock div:nth-child(5){
        display: block;
        width: 100px;
    }

    &__block{
        padding-top: 60px;
    }

    &__qw{
        font-size: 20px;
    }

    &__blockbtn{
        padding-top: 20px;
        button{
            font-size: 20px;
            border-radius: 10px;
            padding: 10px  30px;
            border: 1px solid #4D8FAC;  
            outline: none;    
            box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.6);     
            &:hover{
                cursor: pointer;
                box-shadow: none;
            }
            &:active{
                box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.6); 
            }
        }
    }

    &__img{
        padding-top: 20px;
        img{
            width: 250px;
            border-radius: 10px;
        }
    }


    .predfinal__block2, .predfinal__block3, .predfinal__block4, .predfinal__block5{
        display: none;
    }
}




.final{
    display: none;
    text-align: center;
    .sun{
        position: fixed;
        top: -165px;
        left: -266px;
    }


    .tw, .th, .pp, .shp, .w{
        display: none;
    }

    .progress__inner{
        width: 100%;
        border-radius: 6px;
    }

    .progress__fotoblock{
        justify-content: space-around;
    }

    .progress__fotoblock div:nth-child(1){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(2){
        display: flex;
    }

    .progress__fotoblock div:nth-child(3){
        width: 200px;
    }

    .progress__fotoblock div:nth-child(4){
        display: flex;
    }

    .progress__fotoblock div:nth-child(5){
        display: block;
        width: 200px;
    }

    &__title{
        font-size: 22px;
    }

    &__fig{
        padding-top: 20px;
        img{
            width: 100%;
        }
    }
}